---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/Topbar.astro";
import { Content as AvisoLegalContent } from "../content/aviso-legal.md";
import Footer from "../components/Footer.astro";
---

<Layout title="Aviso Legal — Ama el Proceso">
  <Topbar />
  <div class="privacy-container">
    <a href="/" class="back-button">← Volver a inicio</a>
    <AvisoLegalContent />
  </div>
  <Footer />
</Layout>
