---
import "../assets/styles.css"
import Topbar from "../components/Topbar.astro"
import HeroHome from '../components/HeroHome.astro'
import Teaser from "../components/Teaser.astro"
import CarrouselText from "../components/CarrouselText.astro"
import Faqs from "../components/Faqs.astro"
import Footer from "../components/Footer.astro"
---


<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ama el proceso — Técnica Estructural</title>
  <link rel="icon" href="/src/assets/favicon/favicon-16x16.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
  <link rel="preload" href="/src/assets/gulfs-display-normal.ttf" as="font" type="font/ttf" crossorigin>
</head>
<body>

  <Topbar />

  <HeroHome />

  <Teaser 
    title="Todos los dolores provienen de un conflicto emocional"
    paragraphs={[
      "Es uno de los principios de la Técnica Estructural. Que es una terapia energética que trabaja el cuerpo físico y emocional a través de la columna vertebral.",
      "Realizando la sesión a distancia, te ayuda a aliviar dolores, liberar bloqueos y sentirte mucho más tú que nunca.",
      "Vive un proceso de transformación que te acompaña paso a paso hacia tu bienestar integral. Con 4 sesiones que cambiarán tu vida y harán que vuelvas a conocerte desde un prisma completamente nuevo.",
      "Además, la Técnica Estructural no es solo para personas: también puede aplicarse a tu empresa, tu hogar, tu mascota, tu linaje materno o paterno… y a muchos otros ámbitos que forman parte de tu vida.Todo lo que tiene energía puede volver a alinearse y liberar las cargas que ni sabemos que están sosteniendo."
    ]}
    imageSrc="/src/assets/images/sky.png"
    imageAlt="Sesión de Técnica Estructural"
  />

  <CarrouselText 
    items={[
      "Reconócete",
      "Siéntete más tú que nunca",
      "Libera tus emociones",
      "Aprende a vivir sin dolor"
    ]}
  />

  <section class="teaser presentation">
        <div class="teaser-text no-margin fade-in">
          <div class="fade-in">
          <p>Hola me presento, soy</p>
            <h2><span class="name">María</span><br><span class="surname" style="margin-top: -3rem;">León</span></h2>
            <img src="/src/assets/images/maria-leon.jpg" alt="María León, especialista en Técnica Estructural" />
          </div>
          <div class="presentation-text fade-in">
            <p>Me apasiona el bienestar y las personas, y uso la Técnica Estructural para ayudarte a sanar tu cuerpo y emociones a través de esta terapia energética.</p>
            <p>Mi misión es ayudarte a liberarte del dolor físico y emocional para que puedas centrarte en disfrutar de la vida de una manera completamente nueva. </p>
            <p>Quiero acompañarte a redescubrirte y romper con todo aquello que ya no te sirve para que puedas abrirte a las maravillas que tiene la vida preparadas para ti. Porque cuando tú te eliges, todo lo demas también empieza a elegirte a ti.</p>
          </div>
        </div>
  </section>

  <Faqs 
    pregunta1="¿Cómo se realizan las sesiones?"
    respuesta1="Las sesiones se realizan de forma remota, sin necesidad de conexión presencial, utilizando técnicas específicas para trabajar con la energía del cuerpo."
    pregunta2="¿Cuántas sesiones necesito?"
    respuesta2="Un proceso completo suelen ser 4 sesiones. Cada sesión ocurre semanalmente o bisemanalmente según las necesidades de cada persona."
    pregunta3="¿La Técnica Estructural es para mí?"
    respuesta3="La Técnica Estructural es adecuada para cualquier persona que desee mejorar su bienestar físico y emocional, independientemente de su edad o condición física."
  />

  <Footer />

  <script src="/src/assets/scripts.js"></script>
</body>
</html>
