<footer class="footer white fade-in">
  <p>© 2025 María León. Todos los derechos reservados. Esta web no recopila cookies del usuario.</p>
  <ul class="privacy-links">
    <li><a href="/aviso-legal">Aviso Legal</a></li>
    <li><a href="/privacidad">Política de Privacidad</a></li>
  </ul>
  <p style="margin-top: 4rem;">Diseñado y desarrollado por <a href="https://fvalverde.com?from=amaelproceso.com" target="_blank" rel="noopener">Francis Valverde</a></p>
</footer>