<section class="pricing fade-in">
    <div class="pricing-text">
      <h2>¿En qué consiste la terapia?</h2>
      <p>Ofrecemos un proceso completo que te ayudará a sanar tu cuerpo y liberar creencias y emociones que no te dejan avanzar.</p>
      
        <div class="pricing-card">
            <h3>Proceso completo</h2>
            <p class="price">170€</p>
            <li>4 sesiones a distancia</li>
            <li>1 sesión por semana</li>
            <li>Resumen y audio después de cada sesión</li>
            <button class="cta" type="button">¡Lo quiero!</button>
        </div>
        <div class="pricing-note">
            <p>* La primera sesión son 50€ y las siguientes 40€.</p>
        </div>
        
      
    </div>
</section>